@import "src/libraries/styles/media-breakpoints";
.copy-btn {
    margin: 30px 0 0 15px;
    padding: 5px 23px;
    gap: 10px;
    width: 81px;
    height: 31px;
    border-radius: 4px;
    .copy {
        display: none;
    }
    .active-text {
        display: none;
    }
    .default-text {
        display: block;
    }
    &:hover {
        background: var(--yellow);
    }
    &:focus {
        width: 123px;
        height: 31px;
        background: var(--black);
        color: var(--yellow);
        border: 1px solid var(--yellow);
        .copy {
            display: flex;
            margin-left: auto;
        }
        .active-text {
            display: block;
        }
        .default-text {
            display: none;
        }
    }
}
@media screen and (max-width: $desktopWidth) {
    .copy-btn {
        &:hover {
            width: 123px;
            height: 31px;
            background: var(--black);
            color: var(--yellow);
            border: 1px solid var(--yellow);
            .copy {
                display: flex;
                margin-left: auto;
            }
            .active-text {
                display: block;
            }
            .default-text {
                display: none;
            }
        }
    }
}
