@import "../../../libraries/styles/media-breakpoints";
@import "../../../libraries/styles/general";

.active {
    &.copy-btn {
        width: 123px;
        height: 31px;
        padding: 5px 23px;
        gap: 10px;
        align-items: center;
        margin: 30px 0 0 15px;
        background: var(--black);
        color: var(--yellow);
        border: 1px solid var(--yellow);

        .copy {
            display: flex;
            margin-left: auto;
        }

        .active-text {
            display: block;
        }

        .default-text {
            display: none;
        }
    }
}
.non-active {
    &.copy-btn {
        margin: 30px 0 0 15px;
        padding: 5px 23px;
        gap: 10px;
        width: 81px;
        height: 31px;
        border-radius: 4px;

        &:hover {
            background: var(--yellow);
        }

        .copy {
            display: none;
        }

        .active-text {
            display: none;
        }

        .default-text {
            display: block;
        }
    }
}

@media screen and (max-width: $desktopWidth) {
    .active {
        &.copy-btn {
            width: 81px;
            padding: 0 0 0 6px;
            align-items: center;
            gap: 0;
            height: 31px;
            .copy {
                display: flex;
                margin: 0;
            }
        }
    }
}
